@import './base.css';

#app {
  margin: 0 auto;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

form {
  min-width: 600px; 
}
h1 {
  font-size: 50px;
  color: #00bd7e;
  font-weight: bold;
}
h3 {
  font-size: 30px;
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
}
main {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: left;

}
.form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 30px;
  border: 2px solid #00bd7e;
  border-radius: 20px;
  background-color: #030303;
  color: #00bd7e;
  min-width: 600px;
}
.form-section {
  margin-top: 20px;
}
label {
  font-size: 20px;
  margin-right: 20px;
  display: block;
  text-align: left;
}
textarea {
  max-width: 600px;
}
input, textarea {
  padding: 20px 10px;
  width: 100%;
  background-color: #005d3e;
  border-top: 3px solid #005d3e;
  border-left: 3px solid #005d3e;
  border-bottom: 3px solid #006845;
  border-right: 3px solid #006845;
  color: white;
  margin-top: 3px;
  font-size: 16px;
}
input::placeholder, textarea {
  color: white;
}
input:focus, textarea:focus {
  border: 3px solid #00bd7e;
  padding: 10px;
  outline: none;
  padding: 20px 10px;
}

button {
  background-color: #00bd7e;
  margin-top: 25px;
  width: 100%;
  padding: 20px 10px;
  border: none;
  color: black;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  transition: 150ms all ease-in;
}
button:hover {
  background-color: #003a27;
  color: #00bd7e;
}